<!DOCTYPE html>
<html lang="uk">
<head> <meta charset="UTF-8">
    <title>Про мене — Моє портфоліо</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ccc.css' %}">
</head>
<body>
<header class="navbar">
  <div class="container">
    <a class="brand" href="{% url 'portfolio:home' %}">🚀 Моє Портфоліо</a>
    <nav class="nav-links">
      <a href="{% url 'portfolio:home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Про мене</a>
      <a href="{% url 'portfolio:p1' %}" class="{% if request.resolver_match.url_name == 'p1' %}active{% endif %}">Проєкт 1</a>
      <a href="{% url 'portfolio:p2' %}" class="{% if request.resolver_match.url_name == 'p2' %}active{% endif %}">Проєкт 2</a>
      <a href="{% url 'portfolio:p3' %}" class="{% if request.resolver_match.url_name == 'p3' %}active{% endif %}">Проєкт 3</a>
    </nav>
  </div>
</header>
<main>
    <h1>Привіт! Я — Веб-розробник</h1>
    <p> Мене звати Єгор. Я займаюся створенням проектів від телеграм ботів до сайтів. Мені подобається програмувати та створювати API. </p>
    <img src="{% static 'images/photo_2025-04-21_20-33-15.jpg' %}" alt="my Image">
</main>
</body>
</html>