<!DOCTYPE html>
<html lang="uk">
<head> <meta charset="UTF-8">
    <title>Про мене — Моє портфоліо</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ccc.css' %}">
</head>
<body>
<header class="navbar">
  <div class="container">
    <a class="brand" href="{% url 'portfolio:home' %}">🚀 Моє Портфоліо</a>
    <nav class="nav-links">
      <a href="{% url 'portfolio:home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Про мене</a>
      <a href="{% url 'portfolio:p1' %}" class="{% if request.resolver_match.url_name == 'p1' %}active{% endif %}">Проєкт 1</a>
      <a href="{% url 'portfolio:p2' %}" class="{% if request.resolver_match.url_name == 'p2' %}active{% endif %}">Проєкт 2</a>
      <a href="{% url 'portfolio:p3' %}" class="{% if request.resolver_match.url_name == 'p3' %}active{% endif %}">Проєкт 3</a>
    </nav>
  </div>
</header>
<main>
    <h1>Проєкт 1 — complist bot</h1>
    <p>
      Це мій перший проєкт.Я тут робив телеграм бота який показував різні комплектуючі більше всього часу зайняла база даних
      <a href="https://github.com/zero6662905/complist-bot" target="_blank" rel="noopener noreferrer">github проекту</a>
    </p>
</main>
</body>
</html>